body {
background-color:#59ABDC;
font-size:25px;
}

h1  { text-align: center;
font-weigth:bold;
text-decoration: underline;
font-size:45px;
}

h2 { 
font-weigth:bold;
font-size:33px;
padding-top: 15px;
line-height:0px;
}

h3 {
font-weigth:bold;
font-size:33px;
padding-top: 15px;
line-height:0px;
}

h4 {
font-weigth:bold;
font-size:30px;
padding-top: 17px;
line-height:0px;
}

h8 {
font-weigth:bold;
font-size:20px;
padding-top: 17px;
line-height:0px;
}

h7 {
font-weigth:bold;
font-size:40px;
padding-top: 17px;
line-height:0px;
}

img {
width: 300px;
height: 300px;
display:block;
margin-right: auto; 
margin-left: 50px;
margin-bottom: 25px;
padding-top: 18px;
}

table, td, th  {border:white 5px double ;

#table1 {
border-spacing:8;
text-align: center;
background-color: grey;
font-family: arial;
font-size:30px;
margin-right: auto; 
margin-left: auto;
}

.style1 {
background-color:#000000 
text-align: center;
}
 
