body {

background-color:#7F35A7;

font-size:25px;

}



h1  { text-align: center;

font-weigth:bold;

text-decoration: underline;

font-size:45px;

}



h5 { text-align: center;

font-weigth:bold;

font-size:30px;


} 